{% load static %}
<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="IFRN" content="IE=edge">
    <title>IFRN - Portal</title>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://getbootstrap.com/docs/5.0/forms/select/">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>

<body>

    <main>
        <div class="header">
            <div class="navbar">
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="index.html"></a>
                </div>
                <ul class="menu-principal nav navbar-nav navbar-center">
                    <li><a class="page-scroll area_aluno" href="body">ÁREA DO ALUNO</a></li>
                    <li><a class="page-scroll barra">|</a></li>
                    <li><a class="page-scroll" href="#about-section">PORTAL ZL</a></li>
                    <li><a class="page-scroll" href="#about-section">PORTAL IFRN</a></li>
                    <li><a class="page-scroll" href="#services-section">SUAP</a></li>
                    <li><a class="page-scroll" href="#portfolio-section">SAIR</a></li>
                </ul>
                <div class="user">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll ph-name" href="#services-section">Joao da Silva</a></li>
                        <li><a class="page-scroll ph-email" href="#services-section">joaodasilva@email.com</a></li>
                        <li><i class="fa fa-user-circle"></i></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="div1">
                <div class="bg-title">
                    <p class="titulo-curso">MINHAS DISCIPLINAS<i class="ph-question"></i></p>

                </div>
                <div class="bg-descricao">
                    <p class="descricao-curso">Clique nas disciplinas abaixo para saber mais detalhes.</p>
                </div>
                <div class="linha-horizontal"></div>
            </div>
            <div class="div2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>TODAS DISCIPLINAS</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="div3">
                <select class="form-select andamento" aria-label="Default select example">
                    <option selected>EM ANDAMENTO</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="div4">
                <div class="btn-group btn-group-ano">
                    <a class="btn btn-blank btn-secondary btn-ano">2022.2</a>
                    <a class="btn btn-blank btn-ano">2022.1</a>
                    <a class="btn btn-blank btn-ano mostra1">2021.2</a>
                    <a class="btn btn-blank btn-ano mostra2">2021.1</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            &nbsp;...&nbsp; <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="mostra1" href="#">2021.2</a></li>
                            <li><a class="mostra2" href="#">2021.1</a></li>
                            <li><a class="" href="#">2020.2</a></li>
                            <li><a class="" href="#">2020.1</a></li>
                            <li><a class="" href="#">2019.2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="div6">
                <!-- Cards -->

                <div class="grid-container-cards">
                    <div class="row">

                        <div class="card">
                            <div class="icon_categoria">
                                <p class="categoria_card">INST</p>
                            </div>
                            <img class="img-fluid" alt="100%x280"
                                src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem">
                                    <p class="valor_porcentagem">70%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                                <h5 class="card-title">DESENVOLVIMENTO DE PROJETOS COM O USO DE TECNOLOGIAS DIGITAIS</h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <button type="button" class="btn btn-primary">ACESSAR</button>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary">DETALHES</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="card">
                            <div class="icon_categoria">
                                <p class="categoria_card">INST</p>
                            </div>
                            <img class="img-fluid" alt="100%x280"
                                src="https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem">
                                    <p class="valor_porcentagem">70%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                                <h5 class="card-title">DESENVOLVIMENTO DE PROJETOS COM O USO DE TECNOLOGIAS DIGITAIS
                                </h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <button type="button" class="btn btn-primary">ACESSAR</button>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary">DETALHES</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="card">
                            <div class="icon_categoria">
                                <p class="categoria_card">INST</p>
                            </div>
                            <img class="img-fluid" alt="100%x280"
                                src="https://images.unsplash.com/photo-1610484826967-09c5720778c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem">
                                    <p class="valor_porcentagem">70%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                                <h5 class="card-title">FUNDAMENTOS DA EAD</h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <button type="button" class="btn btn-primary">ACESSAR</button>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary">DETALHES</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="card">
                            <div class="icon_categoria-aberto">
                                <p class="categoria_card-aberto">A</p>
                            </div>
                            <img class="img-fluid" alt="100%x280"
                                src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success aberto " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem-aberto">
                                    <p class="valor_porcentagem">30%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                                <h5 class="card-title">TÍTULO COMPLETO DO CURSO ABERTO </h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <button type="button" class="btn btn-primary">ACESSAR</button>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary">DETALHES</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="card">
                            <div class="icon_categoria-caid">
                                <p class="categoria_card-caid">CAID</p>
                            </div>
                            <img class="img-fluid" alt="100%x280"
                                src="https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1406&q=80">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success caid " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem-caid">
                                    <p class="valor_porcentagem">30%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                                <h5 class="card-title">TÍTULO COMPLETO DO CURSO ABERTO </h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <button type="button" class="btn btn-primary">ACESSAR</button>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary">DETALHES</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="card">
                            <div class="icon_categoria">
                                <p class="categoria_card">INST</p>
                            </div>
                            <img class="img-fluid" alt="100%x280"
                                src="https://images.unsplash.com/photo-1434626881859-194d67b2b86f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem">
                                    <p class="valor_porcentagem">70%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                                <h5 class="card-title">TÍTULO COMPLETO DO CURSO INSTITUCIONAL</h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <button type="button" class="btn btn-primary">ACESSAR</button>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary">DETALHES</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="card">
                            <div class="icon_categoria">
                                <p class="categoria_card">INST</p>
                            </div>
                            <img class="img-fluid" alt="100%x280"
                                src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1415&q=80">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem">
                                    <p class="valor_porcentagem">70%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                                <h5 class="card-title">TÍTULO COMPLETO DO CURSO INSTITUCIONAL</h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <button type="button" class="btn btn-primary">ACESSAR</button>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary">DETALHES</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="card">
                            <div class="icon_categoria-aberto">
                                <p class="categoria_card-aberto">A</p>
                            </div>
                            <img class="img-fluid" alt="100%x280"
                                src="https://images.unsplash.com/photo-1518611507436-f9221403cca2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success aberto " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem-aberto">
                                    <p class="valor_porcentagem">30%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                                <h5 class="card-title">TÍTULO COMPLETO DO CURSO ABERTO </h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <button type="button" class="btn btn-primary">ACESSAR</button>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary">DETALHES</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- End Cards -->
            </div>
        </div>
        <div class="div5">
            <div class="bg-title-lateral">
                <p class="titulo-curso-lateral">DETALHES<i class="ph-question"></i></p>

            </div>
            <div class="bg-descricao-lateral">
                <p class="descricao-curso-lateral">Mais detalhes sobre a disciplinas abaixo:</p>
            </div>
            <div class="linha-horizontal-lateral"></div>

            <!-- Card Detalhes -->
            <div class="card-detalhes">
                <div class="row">

                    <div class="card detalhes">
                        <div class="icon_categoria detalhes">
                            <p class="categoria_card detalhes">INSTITUCIONAL</p>
                        </div>
                        <img class="img-fluid" alt="100%x280"
                            src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80">
                        <div class="card-body detalhes">
                            <p class="card-turma">2020.1.15046.1E.POS.0345</p>
                            <h5 class="card-title">TÍTULO COMPLETO DO CURSO INSTITUCIONAL</h5>
                        </div>
                        <div class="card-footer-detalhes">
                            <div class="flex detalhes">
                                <button type="button" class="btn btn-primary detalhes">ACESSAR O CURSO</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Card Detalhes -->

            <!-- Eventos -->
            <div class="eventos">
                <div class="bg-title-lateral">
                    <p class="titulo-curso-lateral">EVENTOS<i class="ph-question"></i></p>

                </div>
                <div class="linha-horizontal-lateral evento"></div>
            </div>
            <!-- END Eventos -->

            <!--Último Eventos -->
            <div class="ultimos-eventos">
                <div class="bg-title-lateral">
                    <p class="titulo-curso-lateral">ÚLTIMOS EVENTOS<i class="ph-question"></i></p>

                </div>
                <div class="linha-horizontal-lateral ultimo-evento"></div>
            </div>
            <!-- END Último Eventos -->
        </div>
        <div class="footer">
            <p class="copyright">Instituto Federal de Educação, ciência e Tecnologia do Rio Grande do Norte
                &copy; 2022. Todos os direitos reservados.</p>
        </div>
    </main>

</body>
<!-- Plugins JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="{% static 'dashboard/inc/main.js' %}"></script>


</html>