{% extends "portal/layouts/base.html" %}
{% load static %}

{% block extra_script %}
    <script src="//cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="importmap">
        {
            "imports": {
                "vue": "//unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
            }
        }
    </script>

    <script type="module">
        import { createApp } from "vue"
        import ava_dashboard from "{% static "dashboard/js/app.js" %}"

        createApp(ava_dashboard).mount("#app")
    </script>
{% endblock extra_script %}

{% block main %}
    <main>
        <div id="app" class="hide_this">
            <section>
                <div id="grid-header">
                    <h1>Minhas disciplinas</h1>
                    <div>Clique nas disciplinas abaixo para saber mais detalhes.</div>
                </div>
                <div id="grid-filter">
                    <div>
                        <select name="disciplina_id" id="disciplina_id" @change="filterCards($event)">
                            <option selected>TODAS DISCIPLINAS</option>
                            <option v-for="row in disciplinas" v-bind:value="row.id">[[ row.label ]]</option>
                        </select>
                    </div>
                    <div>
                        <select name="status_id" id="status_id" @change="filterCards($event)">
                            <option v-for="row in statuses" v-bind:value="row.id">[[ row.label ]]</option>
                        </select>
                    </div>
                    <div>
                        <select name="competencia_id" id="competencia_id" @change="filterCards($event)">
                            <option v-for="row in competencias" v-bind:value="row.id">[[ row.label ]]</option>
                        </select>
                    </div>
                </div>
                <div id="course-cards">
                    <div v-for="card in cards" class="course-card">
                        <div class="course-wrapper">
                            <div class="icon_ambiente" v-bind:class="card.ambiente.classe">
                                <p class="ambiente_card" v-bind:class="card.ambiente.classe">[[ card.ambiente.sigla ]]</p>
                            </div>
                            <img class="img-fluid" alt="imagem representativa do curso"
                                v-bind:src="[[ card.diario.thumbnail ]]">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar" v-bind:class="card.ambiente.classe" role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem" v-bind:class="card.ambiente.classe" >
                                    <p class="valor_porcentagem">[[ card.diario.progresso ]]%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-diario">[[ card.diario.codigo ]]</p>
                                <h5 class="card-title">[[ card.diario.titulo ]]</h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <a class="btn btn-primary" v-bind:href="[[ card.diario.url ]]">ACESSAR</a>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary" v-on:click="detailme(card)">DETALHES</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <aside>
                <div id="detalhes-header">
                    <h1>Detalhes</h1>
                    <div v-if="!destaque"><p class="dt-text">Abaixo aparecerão os detalhes da disciplina ao lado.</p><p>escolha um curso e clique em "DETALHES".</p></div>
                    <div v-if=destaque>
                        <p class="dt-text">Mais detalhes sobre a disciplina que você escolheu:</p>
                        <p class="ambiente_titulo" v-bind:class="destaque.ambiente.classe">[[ destaque.ambiente.titulo ]]</p>
                        <img class="img-fluid" alt="imagem representativa do curso" v-bind:src="[[ destaque.diario.thumbnail ]]">
                        <p class="card-diario">[[ destaque.diario.codigo ]]</p>
                        <p class="card-title">[[ destaque.diario.titulo ]]</p>
                        <a class="btn btn-primary destaque" v-bind:href="[[ destaque.diario.url ]]">ACESSAR O CURSO</a>
                        <p class="evento">Eventos do curso</p>
                        <div v-if="!destaque.diario.eventos">
                            <p>Não há eventos futuros registrados para este curso.</p>
                        </div>
                        <div v-if="destaque.diario.eventos">
                            <ul>
                                <li v-for="evento in destaque.diario.eventos">
                                    <strong>[[ evento.titulo ]]</strong>
                                    <br />
                                    De: [[ formatDate(evento.data_hora_inicio) ]]
                                    <br />
                                    Até: [[ formatDate(evento.data_hora_fim) ]]
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div v-if=informativos class="informativos">
                        <h2>Últimos informativos</h2>
                        <ul  v-for="informativo in informativos" id="informativos">
                            <li>
                                <a v-bind:href="[[ informativo.url ]]" v-bind:title="[[ informativo.noticia ]]">[[ informativo.titulo ]]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </main>
{% endblock main %}
