{% load static %}
{% load static %}
<!DOCTYPE html>

<html lang="pt-BR">
<head>

    <meta charset="utf-8" />
    <title>Portal AVA - IFRN</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Painel de diários de cursos EaD do IFRN">

    {% if gtag %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{gtag}}"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', '{{gtag}}');</script>
    {% endif %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Google Fonts  -->
    <!--
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css' />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css" />
    -->
    <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,500,600,700" rel="stylesheet" type="text/css" >

    <!-- Theme CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}?last_startup={{last_startup}}" />

    <link rel="stylesheet" href="//unpkg.com/webtour@1.1.0/dist/webtour.min.css">
    
    <script src="{% static 'dashboard/js/jquery-3.6.0.min.js' %}"></script>       
</head>

<body>
    {% include 'portal/partials/header.html' %}

   <main id="app">
        <div>
            <section>
            <h1 id="dashboard-title">Painel AVA</h1>
            <div class="wrapper">
                <div class="row filter-wrapper">
                    <!-- sidebar -->
                    <div class="sidebar-offcanvas" id="sidebar">
                        <a href="" data-toggle="offcanvas">
                            <div class="toggle-filter">
                                <p><i class="fa fa-angle-left"></i><i class="fa fa-angle-right"></i></p>
                            </div>
                        </a>
                        
                        <ul class="navmenu" id="menu">
                            {% include 'portal/partials/filters.html' %}
                            <div class="align-content-center">
                                <li class="block-content d-none margin-top-36"><a href="#"><i class="fa fa-filter icon-filter-color"></i> <span class="collapse in hidden-xs"></span></a></li>
                                <li class="block-content d-none margin-top-36"><a href="#"><i class="fa fa-search icon-filter-color"></i> <span class="collapse in hidden-xs"></span></a></li>
                                <li class="block-content d-none margin-top-36"><a href="#"><i class="fa fa-book icon-filter-color"></i> <span class="collapse in hidden-xs"></span></a></li>
                                <li class="block-content d-none margin-top-36"><a href="#"><i class="fa fa-list-ol icon-filter-color"></i> <span class="collapse in hidden-xs"></span></a></li>
                                <li class="block-content d-none margin-top-36"><a href="#"><i class="fa fa-list-alt icon-filter-color"></i> <span class="collapse in hidden-xs"></span></a></li>
                                <li class="block-content d-none margin-top-36"><a href="#"><i class="fa fa-graduation-cap icon-filter-color"></i> <span class="collapse in hidden-xs"></span></a></li>
                                <li class="block-content d-none margin-top-36"><a href="#"><i class="fa fa-globe icon-filter-color"></i> <span class="collapse in hidden-xs"></span></a></li>
                            </div>   
                        </ul>
                        <!-- <div class="align-toggle-filter">
                        </div> -->
                    </div>
                    <!-- /sidebar -->
    
            <!-- main right col -->
            <div class="" id="main">

                    <div id="search-list" v-show="diarios.length!=0 || coordenacoes.length!=0 || praticas.length!=0">
                        <nav class="tab-menu">
                            <div class="nav nav-tabs" role="tablist">
                                <button class="nav-link active" id="nav-diarios-tab" data-bs-toggle="tab" data-bs-target="#nav-diarios" type="button" role="tab" aria-controls="nav-diarios" aria-selected="true">
                                    Diários
                                </button>
                                <button class="nav-link" id="nav-coordenacoes-tab" data-bs-toggle="tab" data-bs-target="#nav-coordenacoes" type="button" role="tab" aria-controls="nav-coordenacoes" aria-selected="false" v-if="coordenacoes.length!=0">
                                    <span class="desktop-only">Salas das </span>Coordenações
                                </button>
                                <button class="nav-link" id="nav-praticas-tab" data-bs-toggle="tab" data-bs-target="#nav-praticas" type="button" role="tab" aria-controls="nav-praticas" aria-selected="false" v-if="praticas.length!=0">
                                    Práticas
                                </button>
                                <div class="btn-group course-list-toggler" role="group">
                                    <input type="radio" class="btn-check view-toggler" name="view-toggler" id="toggler-default" autocomplete="off" value='default' >
                                    <label class="btn btn-outline-primary" for="toggler-default" id="toggler-default-label" title='Visão padrão'><i class="fa fa-list"></i></label>
                        
                                    <input type="radio" class="btn-check view-toggler" name="view-toggler" id="toggler-compact" autocomplete="off" value='compact'>
                                    <label class="btn btn-outline-primary" for="toggler-compact" id="toggler-compact-label" title='Visão compacta'><i class="fa fa-compress"></i></label>
                                </div> 
                            </div>
                        </nav>
                        <div class="tab-content courses">
                            {% include "portal/partials/course-lists.html" with list_name="diarios" extra_class="show active" list_alias="diários" list_genero=""  %}
                            {% include "portal/partials/course-lists.html" with list_name="coordenacoes" list_alias="salas das coordenações" list_genero="a"  %}
                            {% include "portal/partials/course-lists.html" with list_name="praticas" list_alias="práticas" list_genero="a" %}
                        </div>
                    </div>
                    <div id="search-isempty" v-if="!has_error && !is_filtering && diarios.length==0 && coordenacoes.length==0 && praticas.length==0">
                        <h3>Atenção!</h3>
                        <p>Não existem <strong>Diários, Salas de coordenação</strong> ou <strong>Práticas</strong> que atendam ao filtro informado. Para mostrar tudo limpe os filtros, e no segundo campo escolher a opção "♾️ Todos os diários".</p>
                        <p>Também é possível que a Secretaria Acadêmica ainda não tenha lhe inserido em algum diário, neste caso, por favor aguarde.</p>
                    </div>
                    <div id="search-error" v-if="has_error">
                        <h3>Ocorreu um erro.</h3>
                        <p>Favor aguardar ao menos 5 minutos antes de atualizar a página.</p>
                    </div>
                    <div id="search-loader" v-if="is_filtering">
                        <p>Procurando seus cursos</p>
                        <div id="mosaic-loader">
                            <div class="cell d-0"></div><div class="cell d-1"></div><div class="cell d-2"></div>
                            <div class="cell d-1"></div><div class="cell d-2"></div><div class="cell d-3"></div>
                            <div class="cell d-2"></div><div class="cell d-3"></div><div class="cell d-4"></div>
                            <div class="cell d-3"></div><div class="cell d-4"></div><div class="cell d-5"></div>
                        </div>
                    </div>
                            
                </div>
                        <!-- /main -->
                    </div>
                </div>
                
            </section>
        </div>
    </main>
    {% include 'portal/partials/footer.html' %}
    <script src="//cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
    <script type="module">
        import ava_dashboard from "{% static 'dashboard/js/app.js' %}?last_startup={{last_startup}}";      
        Vue.createApp(ava_dashboard).mount("#app");

        import ava_header from "{% static 'dashboard/js/header.js' %}?last_startup={{last_startup}}";
        Vue.createApp(ava_header).mount("#header");
    </script>
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script> 
    <script src="//unpkg.com/webtour@1.1.0/dist/webtour.min.js"></script>
</body>
</html>