{% extends "portal/layouts/base.html" %}
{% load static %}

{% block extra_script %}
    <script src="//cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="importmap">
        {
            "imports": {
                "vue": "//unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
            }
        }
    </script>

    <script type="module">
        import { createApp } from "vue"
        import ava_dashboard from "{% static "dashboard/js/app.js" %}"

        createApp(ava_dashboard).mount("#app")
    </script>
{% endblock extra_script %}

{% block main %}
    <main>
        <div id="app">
            <section>
                <div id="grid-header">
                    <h1>Minhas disciplinas</h1>
                    <div>Clique nas disciplinas abaixo para saber mais detalhes.</div>
                </div>
                <div id="grid-filter">
                    <div>
                        a
                        {% comment %} <select>
                            <option>Curso com um nome grande para caramba para ter certeza de que nós sabemos controlar o limite</option>
                            <option>Temos que ativar o auto-complete</option>
                        </select> {% endcomment %}
                    </div>
                    <div>
                        b
                        {% comment %} <select>
                            <option>Em andamento</option>
                            <option>Concluído</option>
                        </select> {% endcomment %}
                    </div>
                    <div>
                        c
                        {% comment %} <select>
                            <option>2022.1</option>
                            <option>2021.2</option>
                            <option>2021.1</option>
                            <option>2020.2</option>
                            <option>2020.1</option>
                            <option>2019.2</option>
                            <option>2019.1</option>
                        </select> {% endcomment %}
                    </div>
                </div>
                <div id="course-cards">
                    <div v-for="card in cards" class="course-card">
                        <div class="course-wrapper">
                            <div class="icon_ambiente">
                                <p class="ambiente_card">[[ card.ambiente.sigla ]]</p>
                            </div>
                            <img class="img-fluid" alt="imagem representativa do curso"
                                v-bind:src="[[ card.diario.thumbnail ]]">
                            <div class="progress bg-dark rounded-0">
                                <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div class="porcentagem">
                                    <p class="valor_porcentagem">[[ card.diario.progresso ]]%</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-diario">[[ card.diario.codigo ]]</p>
                                <h5 class="card-title">[[ card.diario.titulo ]]</h5>
                            </div>
                            <div class="card-footer">
                                <div class="flex">
                                    <a class="btn btn-primary" v-bind:href="[[ card.diario.url ]]">ACESSAR</a>
                                    <div class="flex-auto"></div>
                                    <button type="button" class="btn btn-secondary" v-on:click="detailme(card)">DETALHES</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <aside>
                <div id="detalhes-header">
                    <h1>Detalhes</h1>
                    <div v-if="!destaque">Aqui aparecerão os detalhes da disciplina que você selecionar na grade ao lado.</div>
                    <div v-if=destaque>
                        <p>Mais detalhes sobre a disciplina abaixo:</p>
                        <h3>[[ destaque.ambiente.titulo ]]</h3>
                        <img class="img-fluid" alt="imagem representativa do curso" v-bind:src="[[ destaque.diario.thumbnail ]]">
                        <p class="card-diario">[[ destaque.diario.codigo ]]</p>
                        <p class="card-title">[[ destaque.diario.titulo ]]</p>
                        <a class="btn btn-primary" v-bind:href="[[ destaque.diario.url ]]">ACESSAR</a>
                        <div v-if=destaque.diario.eventos>
                            <h2>Eventos do curso</h2>
                            <p>Não foi possível obter neste instante. [[]]</p>
                        </div>
                    </div>
                    <div v-if=informativos>
                        <h2>Últimos informativos</h2>
                        <ul  v-for="informativo in informativos" id="informativos">
                            <li>
                                <a v-bind:href="[[ informativo.url ]]" v-bind:title="[[ informativo.noticia ]]">[[ informativo.titulo ]]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </main>
{% endblock main %}
