@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap");
:root {
  --page-max-width: 1312px;
  /* Colors: */
  --vermelho-terciario: #ffbab2;
  --vermelho-primario: #dc030f;
  --vermelho-secundario: #a20a0a;
  --laranja-terciario: #ffd1be;
  --laranja-primario: #fd7941;
  --laranja-secundario: #d14507;
  --amarelo-terciario: #ffebca;
  --amarelo-primario: #fabd57;
  --amarelo-secundario: #ae8133;
  --verde-terciario: #d2f4b7;
  --verde-primario: #61c924;
  --verde-secundario: #347932;
  --verde-botao: #31872d;
  --azul-terciario: #b4d0f2;
  --azul-primario: #0f6cbf;
  --azul-secundario: #203d60;
  --roxo-secundario: #53296d;
  --roxo-primario: #a04ed0;
  --roxo-terciario: #ecdafa;
  --escuro-primario: #1d2125;
  --cinza-primario: #7d848b;
  --cinza-secundario: #54595e;
  --cinza-terciario: #dfdfdf;
  --branco-primario: #ffffff;
  --header-color: #363940;
  --background-color: #fafafa;
  /* Font/text values */
  --unnamed-font-family-noto-sans: "Noto Sans", sans-serif;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-40: 40px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-22: 22px;
}

* {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: var(--unnamed-font-family-noto-sans);
  -moz-transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

body {
  min-height: 100%;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  color: var(--escuro-primario) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--unnamed-font-family-noto-sans);
  font-weight: 400;
  margin-bottom: 10px;
}

#search-loader p {
  text-align: center;
  margin: 0px auto 0px auto;
}

#mosaic-loader {
  --cell-size: 64px;
  --cell-spacing: 5px;
  --border-width: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: calc(var(--total-size) + (var(--cell-size) + 2 * var(--cell-spacing)));
  margin: 0px auto;
}

#mosaic-loader > .cell {
  --cell-color: var(--branco-primario);
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border: var(--border-width) solid var(--cell-color);
  border-radius: 10px;
  animation: 1.5s ripple ease infinite;
  height: var(--cell-size);
  width: var(--cell-size);
}

#mosaic-loader > .cell.d-1 {
  animation-delay: 100ms;
}

#mosaic-loader > .cell.d-2 {
  animation-delay: 200ms;
}

#mosaic-loader > .cell.d-3 {
  animation-delay: 300ms;
}

#mosaic-loader > .cell.d-4 {
  animation-delay: 400ms;
}

#mosaic-loader > .cell.d-5 {
  animation-delay: 500ms;
}

#mosaic-loader > .cell.d-6 {
  animation-delay: 600ms;
}

#mosaic-loader > .cell:nth-child(1) {
  --cell-color: var(--vermelho-primario);
  border-radius: 50%;
}

#mosaic-loader > .cell:nth-child(2) {
  --cell-color: #30672e;
}

#mosaic-loader > .cell:nth-child(3) {
  --cell-color: #2a8b26;
}

#mosaic-loader > .cell:nth-child(4) {
  --cell-color: #33a52f;
}

#mosaic-loader > .cell:nth-child(5) {
  --cell-color: #2abf2c;
}

#mosaic-loader > .cell:nth-child(6) {
  --cell-color: transparent;
}

#mosaic-loader > .cell:nth-child(7) {
  --cell-color: #30672e;
}

#mosaic-loader > .cell:nth-child(8) {
  --cell-color: #2a8b26;
}

#mosaic-loader > .cell:nth-child(9) {
  --cell-color: #33a52f;
}

#mosaic-loader > .cell:nth-child(10) {
  --cell-color: #2abf2c;
}

#mosaic-loader > .cell:nth-child(11) {
  --cell-color: #05b853;
}

#mosaic-loader > .cell:nth-child(12) {
  --cell-color: transparent;
}

#mosaic-loader > .cell:nth-child(13) {
  --cell-color: #33a52f;
}

#mosaic-loader > .cell:nth-child(14) {
  --cell-color: #33a52f;
}

#mosaic-loader > .cell:nth-child(15) {
  --cell-color: #33a52f;
}

#mosaic-loader > .cell:nth-child(16) {
  --cell-color: #33a52f;
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

.btn-primary,
.btn-outline-primary {
  --bs-btn-color: var(--preto-primario);
  --bs-btn-bg: var(--cinza-terciario);
  --bs-btn-border-color: var(--cinza-terciario);
  --bs-btn-hover-color: var(--preto-primario);
  --bs-btn-hover-bg: var(--verde-primario);
  --bs-btn-hover-border-color: var(--verde-primario);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--branco-primario);
  --bs-btn-active-bg: var(--verde-primario);
  --bs-btn-active-border-color: var(--verde-primario);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--escuro-primario);
  --bs-btn-disabled-bg: var(--verde-terciario);
  --bs-btn-disabled-border-color: var(--verde-terciario);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--verde-secundario);
  border-color: var(--verde-secundario);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--background-hover) !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 4px !important;
  width: 100%;
  height: 40px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  border: 1px #dbdbdb solid !important;
  background-color: #fff;
  padding: 0.25em 0.5em;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100% !important;
}

#select2-ambiente-results .select2-results__option,
#select2-ambiente-results .select2-selection__rendered {
  margin: 0;
  padding: 0;
}

#select2-ambiente_id-container {
  padding: 1px;
}

#select2-ambiente-results span,
#select2-ambiente-container span {
  margin: 0px;
  display: block;
}

.select2-container {
  width: 100% !important;
  padding: 0;
}

.closed span.select2-selection.select2-selection--single {
  background: #dbdbdb !important;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 432px) {
  .mobile-only {
    display: block;
  }
}

@media only screen and (min-width: 433px) and (max-width: 629px) {
  .mobile-only {
    display: block;
  }
}

@media only screen and (max-width: 944px) {
  .hide-desktop {
    display: block;
  }
}

@media only screen and (max-width: 1058px) {
  .desktop-only {
    display: none;
  }
}

#header {
  width: 100%;
  height: 71px;
  background: var(--branco-primario) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  color: var(--header-color);
}

#header #header-wrapper {
  max-width: var(--page-max-width);
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

#header #header-brand {
  background-image: url(../img/logo_ifrn_zl.png);
  width: 135px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: left;
  float: left;
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 12px 0;
}

#header #alerts {
  display: inline-block;
  height: 100%;
  min-width: 100px;
  float: right;
}

#header #alerts .icon {
  font-weight: bolder;
  cursor: pointer;
  margin-left: 16px;
}

#header #alerts .icon img {
  display: inline-block;
  width: 26px;
  margin-top: 10px;
}

#header #alerts .icon:hover {
  opacity: 0.7;
}

#header #alerts li {
  list-style-type: none;
}

#header #alerts .icon-count {
  background: var(--vermelho-primario);
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50%;
  color: var(--branco-primario);
  vertical-align: super;
  margin-left: -12px;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 1px;
  max-width: 20px;
  overflow: hidden;
  line-height: 18px;
  height: 18px;
  width: 18px;
  display: none;
  text-align: center;
}

#header #header-user {
  float: right;
  margin: 0 0 0 20px;
}

#header #header-user a,
#header #header-user a:hover,
#header #header-user a:active {
  text-decoration: none !important;
  color: var(--escuro-primario);
  display: inline-block;
  text-align: left;
  font-size: 90%;
}

#header #header-user .btn-secondary {
  background-color: transparent;
  border-color: transparent;
  padding: 0 0 0 10px;
}

#header #header-user a:hover {
  text-decoration: underline;
}

#header #header-user img {
  margin: -6px 0 0;
  display: block;
  width: 46px;
  height: 52px;
}

#header #header-user #header-user-dropdown {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin: 13px 0 0 0;
  padding: 0;
}

#header #header-user button span {
  display: none;
}

#header #header-user ul.dropdown-user {
  inset: 0px auto auto -38px;
}

#header #header-user ul.dropdown-menu.dropdown-user.show {
  padding: 0px;
  top: 1px !important;
  margin-left: -185px !important;
  transition: none;
  width: 260px;
}

#header #header-user button#dropdownMenuUser:after {
  bottom: 9px;
  right: 0px;
}

#header #header-user .btn-dropdown-user:after {
  font-size: 9px;
  text-decoration: none !important;
  cursor: pointer;
  background: var(--header-color) 0% 0% no-repeat padding-box;
  color: var(--branco-primario);
  border-radius: 50%;
  border: 3px solid #87666600;
  content: "\f078" !important;
  font-family: "FontAwesome";
  font-weight: bold;
  width: 20px;
  height: 20px;
  position: absolute;
  margin: -16px 0px 0px 8px;
}

#header #region-messages {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
  float: right;
  margin-top: 12px;
  padding: 3px 3px 3px 3px;
  width: auto;
  min-width: 50px;
}

#header #region-messages #menu-messages {
  display: none;
  width: auto;
}

#header #region-messages #menu-messages h2 {
  padding: 10px 10px 10px 10px;
  height: 35px;
  font-size: var(--unnamed-font-size-14);
  font-family: var(--unnamed-font-family-noto-sans);
  font-weight: var(--unnamed-font-weight-normal);
  text-align: left;
  letter-spacing: 1.6px;
  color: var(--escuro-primario);
  text-transform: var(--unnamed-text-transform-uppercase);
  width: calc(100% - 60px);
}

#header #region-messages #menu-messages h2 span {
  color: var(--vermelho-primario);
}

#header #region-messages #menu-messages .ambientes-list {
  background-color: var(--cinza-terciario);
  padding: 5px;
  font-weight: var(--unnamed-font-weight-600);
}

#header #region-messages #menu-messages.show {
  width: 257px;
  height: auto;
  background: var(--branco-primario) 0% 0% no-repeat padding-box;
  border: 1px solid var(--cinza-terciario);
  opacity: 1;
  border-radius: inherit;
  padding: 0;
  margin-top: 24px !important;
  margin-right: -16px !important;
  transform: translate3d(-14em, 21px, 0px) !important;
  display: block;
}

#header #region-messages #messages-count {
  display: flex;
  padding: 6px 9px;
  margin-bottom: 0px;
  cursor: pointer;
  height: 40px;
  justify-content: space-around;
  color: var(--verde-secundario);
  background-color: var(--branco-primario);
  color: var(--verde-secundario);
  text-align: center;
}

#header #region-messages .fa-comment-o {
  font-size: 18px;
  margin-top: 20px;
  padding-left: 5px;
  width: 30px;
}

#header #region-messages .fa-comment-o.show {
  background-color: var(--cinza-terciario);
  opacity: initial;
  border-radius: 15px;
  color: var(--cinza-secundario);
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-top: 16px;
}

#header #region-messages .dropdown-header {
  background-color: var(--cinza-terciario);
  color: var(--escuro-primario);
  font-weight: var(--unnamed-font-weight-500);
  font-size: 0.8rem;
  text-align: end;
  padding: 5px;
  border-top-right-radius: var(--default-border-radius);
  border-top-left-radius: var(--default-border-radius);
}

#header #region-notifications {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
  float: right;
  margin-top: 12px;
  padding: 3px 3px 3px 3px;
  width: auto;
  min-width: 50px;
}

#header #region-notifications .icon {
  cursor: pointer;
  margin-right: 1px;
}

#header #region-notifications .icon:hover {
  opacity: 0.7;
}

#header #region-notifications .icon span {
  background: var(--vermelho-primario);
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50%;
  color: var(--branco-primario);
  vertical-align: top;
  margin-left: -8px;
  font-size: 11px;
  padding-bottom: 1px;
  max-width: 20px;
  overflow: hidden;
  line-height: 18px;
  height: 18px;
  width: 18px;
  display: inline-block;
  text-align: center;
  margin: 3px 10px 1px -9px;
}

#header #region-notifications .icon img {
  display: inline-block;
  width: 26px;
  margin-top: 10px;
}

#header #region-notifications #menu-notifications {
  display: none;
  width: auto;
}

#header #region-notifications #menu-notifications.show {
  display: block;
}

#header #region-notifications #menu-notifications h2 {
  padding: 10px;
  height: 35px;
  font-weight: var(--unnamed-font-weight-500);
  font-size: var(--unnamed-font-size-14);
  font-family: var(--unnamed-font-family-noto-sans);
  font-weight: var(--unnamed-font-weight-normal);
  text-align: left;
  letter-spacing: 1.6px;
  color: var(--escuro-primario);
  text-transform: var(--unnamed-text-transform-uppercase);
  width: calc(100% - 60px);
}

#header #region-notifications #menu-notifications h2 span {
  color: var(--vermelho-primario);
}

#header #region-notifications #menu-notifications .notifications-item {
  display: block;
  padding: 0;
  margin-bottom: 0px;
  cursor: pointer;
}

#header #region-notifications #menu-notifications .notifications-item:hover {
  background-color: #eee;
}

#header #region-notifications #menu-notifications .notifications-item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 9px;
  border-radius: 50%;
  margin-top: 2px;
}

#header #region-notifications #notifications-count {
  display: flex;
  padding: 6px 9px;
  margin-bottom: 0px;
  cursor: pointer;
  height: 40px;
  justify-content: space-around;
  color: var(--verde-secundario);
  background-color: var(--branco-primario);
  color: var(--verde-secundario);
  text-align: center;
}

#header #region-notifications #notifications-count.show {
  width: 257px;
  height: auto;
  background: var(--branco-primario) 0% 0% no-repeat padding-box;
  border: 1px solid var(--cinza-terciario);
  opacity: 1;
  border-radius: inherit;
  margin-top: 24px !important;
  padding: 0;
  transform: translate3d(-14em, 21px, 0px) !important;
}

#header #region-notifications .fa-bell-o {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 20px;
  padding-left: 5px;
  width: 29px;
}

#header #region-notifications .fa-bell-o.show {
  background-color: var(--cinza-terciario);
  opacity: initial;
  border-radius: 15px;
  color: var(--cinza-secundario);
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-top: 16px;
}

#header #header-ajuda {
  float: right;
  height: 60px;
  margin: 10px 0 0 0;
  padding: 17px 10px;
  border-right: 1px solid var(--branco-primario);
}

#header #header-ajuda a,
#header #header-ajuda a:hover,
#header #header-ajuda a:active {
  text-decoration: none;
  color: var(--escuro-primario);
  display: inline-block;
  text-align: left;
  font-size: 90%;
}

#header #header-ajuda .btn-secondary {
  background-color: transparent;
  border-color: transparent;
  padding: 0 10px 0 10px;
  margin-right: 5px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  color: var(--header-color);
  letter-spacing: var(--unnamed-character-spacing-0);
}

#header #header-ajuda .dropdown-menu {
  top: -31px !important;
  margin-left: -14px !important;
}

#header #header-ajuda .dropdown-menu.show {
  transform: translate3d(11px, 51.8182px, 0px) !important;
  padding: 0px;
}

#header #header-ajuda .dropdown-header {
  background-color: var(--cinza-terciario);
  color: var(--escuro-primario);
  padding-right: 24px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  color: var(--cinza-terciario);
  font-weight: var(--unnamed-font-weight-600);
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
}

#header #header-ajuda .dropdown-header::after {
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle !important;
  font-size: 10px;
  line-height: 1.1;
  text-decoration: none !important;
  color: var(--escuro-primario);
  border-radius: 20px;
  border: 3px solid #87666600;
  font-family: "FontAwesome";
  font-weight: 200;
  width: 16px;
  position: absolute;
  margin: -1px 0px 0px 1px;
  display: none;
  cursor: pointer;
  content: "\f077" !important;
}

#header #header-ajuda li .dropdown-header {
  color: var(--escuro-primario);
}

#header #header-ajuda #dropdownMenuSuporte:hover {
  opacity: 0.7;
}

#header #header-ajuda #dropdownMenuSuporte:after {
  display: inline-flex !important;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle !important;
  font-size: 10px;
  line-height: 1.1;
  text-decoration: none !important;
  color: var(--branco-primario);
  border-radius: 20px;
  border: 3px solid #87666600;
  font-family: "FontAwesome";
  font-weight: 200;
  width: 16px;
  position: absolute;
  margin: 1px 0px 0px 3px;
  cursor: pointer;
  content: "\f078" !important;
}

@media only screen and (max-width: 432px) {
  #header #header-brand {
    width: 32px;
  }
  #header #header-ajuda {
    display: none;
  }
  #header #menu-messages.show {
    transform: translate3d(-1em, 21px, 0px) !important;
  }
}

@media only screen and (min-width: 433px) and (max-width: 629px) {
  #header #header-ajuda {
    display: none;
  }
  #header #menu-notifications.show {
    transform: translate3d(0em, 21px, 0px) !important;
  }
  #header #menu-messages.show {
    transform: translate3d(-1em, 21px, 0px) !important;
  }
}

@media only screen and (min-width: 630px) and (max-width: 1346px) {
  #header #menu-notifications.show {
    transform: translate3d(0em, 21px, 0px) !important;
  }
}

@media only screen and (min-width: 630px) and (max-width: 1445px) {
  #header #menu-messages.show {
    transform: translate3d(-1em, 21px, 0px) !important;
  }
}

main {
  display: none;
  max-width: 1312px;
  background: var(--branco-primario) 0% 0% no-repeat padding-box;
  box-shadow: -2px 3px 5px #00000033;
  border: 1px solid #36394033;
  border-radius: 0px 4px 4px 0px;
  margin: 0 auto 137px auto;
}

main #page-title {
  padding: 32px 0 0 37px;
  max-width: 1312px;
  height: 170px;
  background: transparent linear-gradient(270deg, #f8f8f8 0%, #6298a7 46%, #27726b 74%, #1f6552 100%) 0% 0% no-repeat padding-box;
}

main #page-title img:first-child {
  float: left;
}

main #page-title h1 {
  margin-left: 92px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--branco-primario);
  text-align: left;
  font: normal normal bold 40px/22px Noto Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  line-height: 67px;
}

main #page-title img:last-child {
  float: right;
  margin-top: -110px;
  width: 233px;
  height: 172px;
}

main #page-menu {
  margin-top: -40px;
  margin-right: 3px;
}

main #page-menu .nav-tabs {
  border: none;
}

main #page-menu > .nav-tabs > .nav-link {
  background-color: var(--cinza-terciario);
  border: 0;
  margin-right: 4px;
  margin-bottom: 0px;
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--escuro-primario);
  text-align: left;
}

main #page-menu > .nav-tabs > .nav-link.active {
  background: transparent linear-gradient(180deg, #51a78e 0%, #338f74 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #00000029;
  border-radius: 4px 4px 0px 0px;
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--branco-primario);
  text-align: left;
}

main #page-menu > .nav-tabs > .nav-link:first-letter {
  text-transform: uppercase;
}

main #page-menu > .nav-tabs > .nav-link.closed {
  color: var(--branco-primario);
  background-color: var(--verde-secundario);
}

main #page-menu > .nav-tabs > .nav-link.closed {
  color: var(--branco-primario);
  background-color: var(--verde-secundario);
}

main #menu-separator {
  height: 4px;
  background: #338f74 0% 0% no-repeat padding-box;
  border-radius: 0px 4px 0px 0px;
}

main #page-areas {
  display: grid;
  grid-template-columns: 340px 1fr;
}

main #page-areas #toggle-filter {
  float: right;
  margin: 0 -34px 0 0;
  width: 26px;
  height: 26px;
  background: var(--cinza-terciario) 0% 0% no-repeat padding-box;
  border-radius: 4px 0px 0px 4px;
}

main #page-areas #toggle-filter p {
  padding: 0;
  text-align: center;
  font: var(--unnamed-font-style-normal) normal 600 20px/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--escuro-primario);
}

main #page-areas #toggle-filter .fa::before {
  font-weight: 600;
}

main #sidebar {
  width: auto;
  margin: 24px 24px 24px 24px;
  padding: 0 10px 0 0;
  background-color: var(--branco-primario);
}

main #sidebar > ul {
  margin: 0;
  padding: 0;
}

main #sidebar #filters-title {
  font: var(--unnamed-font-style-normal) normal 600 20px/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--escuro-primario);
  text-align: left;
}

main #sidebar #q {
  width: calc(100% - 15px);
}

main #sidebar .grid-item {
  margin-top: 5px;
  border-radius: 4px;
}

main #sidebar button {
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-14)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
}

main #sidebar button.btn-success {
  background: #338f74 0% 0% no-repeat padding-box;
  border: 1px solid #338f74;
  border-radius: 4px;
  color: var(--branco-primario);
  width: calc(50% - 2px);
}

main #sidebar button.btn-outline-success {
  background: var(--branco-primario) 0% 0% no-repeat padding-box;
  border: 1px solid #338f74;
  border-radius: 4px;
  color: var(--escuro-primario);
  width: calc(50% - 2px);
  margin-left: 4px;
}

main #maincontent {
  background: var(--branco-primario) 0% 0% no-repeat padding-box;
  box-shadow: -2px 3px 5px #00000033;
  border: 1px solid #36394033;
  border-radius: 0px 4px 4px 0px;
}

main #maincontent #search-list .course-listitem {
  background: var(--branco-primario) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000080;
  opacity: 1;
}

footer {
  background-color: var(--header-color);
  padding: 20px 0px;
  width: 100%;
}

footer #footer-wrapper {
  max-width: var(--page-max-width);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--branco-primario);
  text-align: center;
  margin: auto;
}

footer #footer-wrapper a.btn.btn-primary {
  border-radius: var(--default-border-radius);
  border-color: var(--branco-primario);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--branco-primario);
  text-align: center;
  border-radius: 4px;
  min-width: 155px;
}

footer #footer-wrapper a.btn.btn-primary:hover {
  background: var(--verde-secundario) 0% 0% no-repeat padding-box;
}

footer #footer-wrapper p {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

footer #footer-wrapper .contact {
  text-align: center;
  margin: 10px;
}

footer #footer-wrapper .contact ul {
  list-style: none;
  margin: auto;
  width: fit-content;
  display: flex;
}

footer #footer-wrapper .contact ul li {
  display: inline;
}

footer #footer-wrapper .contact ul li a {
  color: var(--branco-primario);
}

footer #footer-wrapper .contact ul li:hover {
  background: var(--branco-primario);
  border-radius: var(--default-border-radius);
}

footer #footer-wrapper .contact ul span {
  margin-top: 5px;
}

footer #footer-wrapper .contact i.fa,
footer #footer-wrapper .contact i.fa:hover {
  font-size: 1.3rem;
  min-width: 19px;
}

footer #footer-wrapper #footer-buttons {
  display: flex !important;
  margin-top: 10px;
  justify-content: center;
  gap: 10px;
}

footer #footer-wrapper #footer-buttons p {
  display: contents !important;
  width: 167px;
}

footer #footer-wrapper #footer-buttons p:hover {
  transform: none !important;
  transition: none !important;
}

footer #footer-wrapper #footer-buttons p a {
  border: none !important;
  background-color: var(--verde-botao);
  color: var(--branco-primario) !important;
}

footer #footer-wrapper #footer-buttons p a:hover {
  transform: none !important;
  background-color: var(--verde-secundario);
}

footer #footer-wrapper #footer-buttons p a svg {
  vertical-align: baseline;
  margin-right: 9px;
}

footer #footer-wrapper hr {
  width: 90%;
  margin: 24px auto;
  border: 1px solid var(--cinza-terciario);
}

footer #footer-wrapper .desktop-only a {
  color: var(--verde-primario);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  footer {
    padding: 10px 20px;
  }
  footer hr {
    margin: 15px;
  }
  footer .madeby {
    margin: 10px;
    text-align: center;
  }
  footer .contact ul {
    display: block;
    width: 280px;
  }
  footer .contact ul span {
    display: none;
  }
  footer .contact ul li:hover {
    background: none;
  }
  footer p,
footer .madeby {
    line-height: 22px !important;
    text-align: center;
  }
  footer p br,
footer .madeby br {
    display: none;
  }
}
