/* ===== RESET: BEGIN ===== */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-align: left;
    font-family: 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif
}

body {
    min-height: 100%;
    background: #f2f3f5 !important;
    color: #565656;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 10px;
}


/* ===== RESET: END ===== */


/* ===== HEADER: BEGIN ===== */

header {
    background-color: #363940;
    height: 100px;
    width: 100%;
}

.header-wrapper {
    max-width: 1243px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.header-brand {
    background-image: url(../img/ifrnLogo.svg);
    width: 142px;
    height: 76px;
    background-repeat: no-repeat;
    background-position: left;
    float: left;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 15px 15px 0 22px;
}

.navbar-header {
    width: 145px;
    height: 42px;
    margin-left: 265px;
    float: left;
    margin-top: 11px;
}

ul.menu-principal {
    margin: 0 auto;
    padding: 0 10px;
    /* position: absolute; */
    top: -9px;
    height: 42px;
    width: 472px;
    background-color: #ffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 0.65rem 0.65rem;
    display: inline-flex;
    vertical-align: baseline;
    text-align: center;
    align-content: space-between;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-user {
    float: right;
    height: 76px;
    margin-top: 23px;
}

.header-user a,
.header-user a:hover,
.header-user a:active {
    text-decoration: none;
    color: #fff;
}

.header-user a:hover {
    text-decoration: underline;
}

.header-user img {
    border-radius: 50%;
    margin-left: 11px;
}

a.page-scroll.area_aluno {
    color: #5bc266;
    font-size: 14px;
    font-weight: 600;
}

a.page-scroll.barra {
    cursor: default;
    font-size: 21px;
}

a.page-scroll {
    font-size: 13px;
    color: #565656;
    font-weight: 500;
    text-decoration: none;
    word-spacing: 2px;
    margin: 6px;
}

#grid-header>h1 {
    font-size: 32px;
}

#grid-header>div {
    font-size: 14px;
    padding-bottom: 10px;
}


/* ===== HEADER: END ===== */


/* ===== MAIN: BEGIN ===== */

main {
    text-align: center;
    min-height: auto;
}

.hide_this {
    display: none;
}

main>div {
    max-width: 1243px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    color: #565656;
    /* grid-template-rows: 90px 100px 200px 60px; */
    grid-template-columns: 280px repeat(3, 1fr) 280px;
    grid-gap: 14px;
    grid-template-areas: "a a a a b" "a a a a b" "a a a a b";
    min-height: auto;
}

main>div>section {
    grid-column: 1/5;
    margin-top: 40px;
}

main>div>aside {
    grid-column: 5/5;
    grid-area: b;
    background-color: #efefef;
}


/* ===== MAIN - GRID: BEGIN ===== */

#grid-header {
    border-bottom: 2px #438f4b solid;
    margin: 0 20px;
}

#grid-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

#grid-filter>div {
    overflow: hidden;
    justify-content: flex-start;
    display: flex;
    margin: 8px;
    /* border: 1px #dfd7d7 solid; */
    max-width: 297px;
    ;
}

#grid-filter>div>select {
    width: 100%;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    color: #565656;
    text-align: left;
    border: 1px #f3f3f3 solid;
    background-color: #fff;
    padding: 0.25em 0.5em;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%)
}

div#grid-filter > h4 {
    font-size: 14px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: -5px;
}


/* ===== MAIN - GRID: END ===== */


/* ===== MAIN - CARD: BEGIN ===== */

#course-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    grid-area: a;
}

.course-card {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.course-wrapper {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px #efefef solid;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    position: relative;
    box-shadow: 0 9px 30px 0 rgb(0 0 0 / 10%);
}

.icon_ambiente {
    position: absolute;
    left: 1.0em;
    top: 0px;
    width: 0;
    height: 44px;
    border-right: 21px solid silver;
    border-left: 22px solid silver;
    border-bottom: 12px solid transparent;
}

.ambiente_card {
    font-family: 'Roboto';
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: -20px;
    margin-top: 5px;
    width: 40px;
    text-align: center;
    position: initial;
}

.progress.bg-dark.rounded-0 {
    /* margin-top: -5px; */
    border: none;
    background-color: transparent;
    /* max-width: 288px; */
}

.porcentagem {
    position: absolute;
    width: 50px;
    height: 35px;
    left: 18.5em;
    margin-top: 0px;
    border-radius: 100% !important;
    background-color: silver;
}

.valor_porcentagem {
    font-family: 'Roboto';
    color: white;
    margin-top: 8px;
    margin-left: 5px;
    text-align: center;
    font-size: 13px !important;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    text-align: left;
    padding-bottom: 5px !important;
    background-color: #FFF;
}

.card-diario {
    width: auto;
    color: #9ca6a9;
    text-align-last: auto;
    text-align: left;
    margin-left: -6px;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 4px;
}

.card-title {
    margin-left: -6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    color: #565656;
    text-align: left;
    margin-bottom: 1.2rem !important;
}

.card-footer {
    border: none;
    border-top: none !important;
    background-color: #fff !important;
}

.flex {
    display: flex;
    padding: 0px 0px 0px 1px;
    width: auto;
    margin-left: -6px;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 287px;
}

.flex-auto {
    flex: auto;
    padding: 0px 2px 0px 3px;
}

a.btn.btn-primary {
    border-radius: 0px;
    font-size: 0.8rem;
    background-color: #327FDA;
    border-color: #327FDA;
    padding: 0.375rem 1.75rem;
}

button.btn.btn-secondary {
    border-radius: 0px;
    font-size: 0.8rem;
    background-color: #808080;
    border-color: #808080;
    padding: 0.375rem 1.75rem;
}


/* ===== MAIN - CARD: END ===== */


/* ===== MAIN - ASIDES - DETAIL: BEGIN ===== */

div#detalhes-header {
    padding-top: 50px;
}

#detalhes-header>div {
    font-size: 13px;
    /* border-bottom: 2px #438f4b solid; */
    padding-bottom: 10px;
    padding-top: 4px;
}

div#detalhes-header>h1 {
    font-size: 22px;
    height: 68px;
    border-bottom: 2px #438f4b solid;
}

#detalhes-header>h2 {
    font-size: 22px;
}

div.dt-text,
p.dt-text {
    padding-bottom: 9px;
    /* border-bottom: 2px #438f4b solid; */
}

.ambiente_titulo {
    font-size: 20px;
    margin-bottom: 0px;
    background-color: silver;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

img.img-fluid {
    padding-bottom: 0px;
    /* max-width: 288px; */
    max-height: 140px;
}

a.btn.btn-primary.destaque {
    max-width: 200px;
    text-align: center;
    transform: translate(20%, 0%);
}

p.card-diario.destaque {
    margin-left: -1px;
    margin-top: 12px;
}

img.img-fluid.destaque {
    width: 280px;
    max-height: 140px;
}

p.card-title.destaque {
    margin-left: -1px;
}


/* ===== MAIN - ASIDES -  DEATIL: END ===== */


/* ===== MAIN - ASIDES - INFOR: BEGIN ===== */

ul#informativos {
    margin-top: 30px;
    padding: 0px 10px 0px 10px;
}

#detalhes-header>div>h2 {
    padding-top: 30px;
    font-size: 22px;
    border-bottom: 2px #438f4b solid;
    height: 62px;
}

ul#informativos>li {
    text-align: justify;
    font-size: 13px;
    text-decoration: underline;
    list-style-type: none;
}

ul#informativos>li>a {
    font-size: 14px;
    text-decoration: none;
    color: #5b5656;
}


/* ===== MAIN - ASIDES -  INFOR: END ===== */


/* ===== MAIN - ASIDES - EVENT: BEGIN ===== */

p.evento {
    font-size: 22px;
    margin-top: 30px;
    border-bottom: 2px #438f4b solid;
    margin-bottom: 25px;
}


/* ===== MAIN - ASIDES -  EVENT: END ===== */


/* ===== AMBIENTES: BEGIN ===== */

.ambiente_card.ambiente01,
.progress-bar.ambiente01,
.porcentagem.ambiente01,
.ambiente_titulo.ambiente01 {
    background-color: #a154d0;
}

.icon_ambiente.ambiente01 {
    border-right-color: #a154d0;
    border-left-color: #a154d0;
}

.ambiente_card.ambiente02,
.progress-bar.ambiente02,
.porcentagem.ambiente02,
.ambiente_titulo.ambiente02 {
    background-color: #c90c0f;
}

.icon_ambiente.ambiente02 {
    border-right-color: #c90c0f;
    border-left-color: #c90c0f;
}

.ambiente_card.ambiente03,
.progress-bar.ambiente03,
.porcentagem.ambiente03,
.ambiente_titulo.ambiente03 {
    background-color: #438f4b;
}

.icon_ambiente.ambiente03 {
    border-right-color: #438f4b;
    border-left-color: #438f4b;
}


/* ===== AMBIENTES: END ===== */


/*
p.titulo-curso {
    position: absolute;
    width: 264px;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #565656;
    text-align: initial;
}

.bg-descricao {
    position: absolute;
    width: 873px;
    height: 44px;
    left: 2px;
    top: 143px;
}

p.descricao-curso,
p.descricao-curso-lateral {
    color: #565656;
    font-family: 'Roboto';
    font-size: 14px;
}

.linha-horizontal {
    position: absolute;
    width: 910px;
    height: 2px;
    top: 11em;
    background: #438F4B;
}

p.titulo-curso-lateral {
    position: absolute;
    width: 175px;
    height: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #565656;
    text-align: initial;
}

.linha-horizontal-lateral {
    position: absolute;
    width: 288px;
    height: 2px;
    top: 175px;
    background: #438F4B;
}

.bg-descricao-lateral {
    position: absolute;
    top: 143px;
}

select.form-select.andamento {
    position: absolute;
    width: 205px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #808080;
    background: white;
    text-align: center;
}
*/


/* ===== */


/*
select.form-select {
    width: 290px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #808080;
    background: white;
    margin-left: -4px;
    border-radius: 0px;
}

.bg-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: -2em;
    top: 3.1em;
    font-size: 21px;
    color: #438F4B;
}

.grid-container {
    display: grid;
    width: auto;
    grid-column: 2/-3;
    grid-row: 2/4;
    margin-top: 95px;
}

.div1 {
    grid-column: 1/ 4;
}

.div2 {
    text-align: initial;
    max-width: 290px;
    height: 50px;
}

.div3 {
    margin-left: -70px;
    max-width: 205px;
    height: 50px;
    text-align: initial;
}

.div4 {
    height: 50px;
    text-align: inherit;
    font-size: 14px;
    width: auto;
}

.div5 {
    background-color: #efefef;
    grid-row: 2/4;
    grid-column: 4/4;
    max-width: 289px;
    height: 125vh;
    margin-top: -28px;
}

.div6 {
    grid-column: 1/ 4;
    margin-top: 25px;
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: calc( 100% / (var(--aspect-ratio)));
}

.footer {
    background-color: #363940;
    font-family: 'Roboto';
    position: fixed;
    grid-column: 1/-1;
    bottom: 0;
    color: #FFF;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 65px;
}

p.copyright {
    font-family: 'Roboto';
    font-size: 13px;
}
*/


/* ===== Periodos ===== */


/*
.btn-group {
    font-family: 'Roboto';
    border-radius: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    width: 355px;
    margin-top: -3px;
}

a.btn.btn-default.mostra1,
a.btn.btn-default.mostra2 {
    display: initial;
}

a.btn.btn-secondary {
    background-color: grey;
    border-radius: 0px;
    font-size: 17px;
    border: 4px solid #f2f3f5;
}

a.btn.btn-blank {
    background-color: #e1e1e1;
    border: 4px solid #f2f3f5;
}

.dropdown-menu .mostra1,
.dropdown-menu .mostra2 {
    display: none !important;
}

@media only screen and (min-width:290px) and (max-width:360px) {
    body {
        background: red !important;
    }
    a.btn.btn-default.mostra2 {
        display: none !important;
    }
    .dropdown-menu .mostra2 {
        display: initial !important;
    }
}

@media only screen and (max-width:295px) {
    body {
        background: green !important;
    }
    a.btn.btn-default.mostra1,
    a.btn.btn-default.mostra2 {
        display: none !important;
    }
    .dropdown-menu .mostra1,
    .dropdown-menu .mostra2 {
        display: initial !important;
    }
}

.bg-title {
    margin-top: -95px;
}
*/


/* ===== END Periodos ===== */


/* Cards - Grid */


/*
.grid-container-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 312px);
    height: 300px;
    text-align: initial;
}

.row {
    display: flex;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    justify-content: flex-start;
    margin-left: 0px !important;
    padding: 2px 0px 22px 0px;
}

.row>* {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 288px !important;
    width: 288px !important;
}

.item-cards {
    background-color: white;
    width: 288px !important;
}

.grid-container.card-destaque {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 15em;
}

.grid-item.cards-destaque {
    padding-left: 0.5em;
    background-color: #efefef;
}

.grid-item.card {
    font-size: 30px;
    text-align: center;
    width: 298.333px;
    margin-right: 20px;
}

.card {
    border-radius: 0.65rem;
    flex: auto;
    max-width: 287px;
    left: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 322px;
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border-radius: var(--bs-card-border-radius);
    margin-left: -16px;
}




button.btn.btn-secondary {
    font-family: 'Roboto';
    height: 32px;
    width: 120px;
    font-size: 13px;
    background-color: #808080;
    text-align: center;
    border-radius: 0px
}


.text-success {
    color: #28a745!important;
    font-size: 15px;
    font-weight: 500;
}


.img-fluid {
    max-width: 288px !important;
    height: 130px !important;
}

button.btn.btn-primary {
    background-color: #327FDA;
    height: 32px;
    width: 120px;
    font-size: 13px;
    text-align: center;
    border-radius: 0px;
    font-family: 'Roboto';
}

.barra_categoria {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 288px;
    height: 40px;
    background-color: #5bc266;
}

.card-destaque {
    border: none;
    flex: auto;
    max-width: 100%;
    left: 0px;
    position: absolute;
    width: 288px;
    height: 255px;
    background-color: white;
    padding-left: 0px;
}

.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    border-top: none;
}

p.categoria_card-destaque {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 9px;
    width: auto;
    text-align: center;
    font-family: 'Roboto';
}

button.btn.btn-primary.btn-destaque {
    margin: auto;
    width: 218px;
}

.card-footer-destaque {
    border-top: transparent;
    border-radius: 0.65rem !important;
}

p

.img-fluid-destaque {
    width: 288px;
    height: 140px;
    margin-bottom: 11px;
}
*/


/* End - Cards - Grid */


/* ===== Card Detalhes ===== */


/*
.card-detalhes {
    padding-top: 85px;
}

button.btn.btn-primary.detalhes {
    width: 160px;
}

.flex.detalhes {
    display: flex;
    justify-content: space-around;
}

.icon_categoria.detalhes {
    position: absolute;
    top: 0px;
    width: 288px;
    height: 32px;
    background-color: #5bc266;
    left: 0px;
}

.card.detalhes,
.card-body.detalhes {
    background-color: transparent !important;
    border: none;
}

.card-footer.detalhes {
    background-color: #efefef;
    margin-top: -1px;
}

p.categoria_card.detalhes {
    width: 288px;
    text-align: center;
}

.bg-title-lateral {
    padding-top: 34px;
}
*/


/* ===== End Card Detalhes ===== */


/* ===== Eventos ========= */


/*
.eventos {
    display: grid;
    margin-top: -9px;
}

.linha-horizontal-lateral.evento {
    margin-top: 345px;
}
*/


/* ===== END Eventos ===== */


/* ===== Últimos Eventos ========= */


/*
.ultimos-eventos {
    display: grid;
    margin-top: 180px;
}

.linha-horizontal-lateral.ultimo-evento {
    margin-top: 560px;
}
*/


/* ===== END Últimos Eventos ===== */


/* ===== FOOTER: BEGIN ===== */

footer {
    background-color: #363940;
    height: 66px;
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0 auto;
    padding: 0;
    max-width: 1243px;
    text-align: center;
    line-height: 66px;
    font-size: 14px;
}


/* ===== FOOTER: END ===== */