<div class="card">
  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
  <div class="progress bg-dark rounded-0">
    <div class="progress-bar bg-success " role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Criatividade nas escola públicas</h5>
  </div>
  <div class="card-footer">
    <div class="flex">
      <small class="text-muted"><p class="card-text">Duração: 40h</p></small>
      <div class="flex-auto"></div>
      <small><p class="card-text text-success">INSCREVER-SE</p></small>
    </div>
  </div>
</div>
<div class="card">
  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
  <div class="progress bg-dark rounded-0">
    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Certificação de liderança e produtividade</h5>
  </div>
  <div class="card-footer">
    <div class="flex">
      <small class="text-muted"><p class="card-text">Duração: 40h</p></small>
      <div class="flex-auto"></div>
      <small><p class="card-text text-success">INSCREVER-SE</p></small>
    </div>
  </div>
</div>
<div class="card">
  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
  <div class="progress bg-dark rounded-0">
    <div class="progress-bar bg-success" role="progressbar" style="width: 58%" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title">50 Ferramentas de gestão de negócio</h5>
  </div>
  <div class="card-footer">
    <div class="flex">
      <small class="text-muted"><p class="card-text">Duração: 40h</p></small>
      <div class="flex-auto"></div>
      <small><p class="card-text text-success">INSCREVER-SE</p></small>
    </div>
  </div>
</div>
<div class="card">
  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
  <div class="progress bg-dark rounded-0">
    <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Gestão de pessoas e inovação</h5>
 </div>
 <div class="card-footer">
    <div class="flex">
      <small class="text-muted"><p class="card-text">Duração: 40h</p></small>
      <div class="flex-auto"></div>
      <small><p class="card-text text-success">INSCREVER-SE</p></small>
    </div>
  </div>
</div>
<div class="card">
  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
  <div class="progress bg-dark rounded-0">
    <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Gestão de pessoas e inovação</h5>
 </div>
 <div class="card-footer">
    <div class="flex">
      <small class="text-muted"><p class="card-text">Duração: 40h</p></small>
      <div class="flex-auto"></div>
      <small><p class="card-text text-success">INSCREVER-SE</p></small>
    </div>
  </div>
</div>
<div class="card">
  <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
  <div class="progress bg-dark rounded-0">
    <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Gestão de pessoas e inovação</h5>
 </div>
 <div class="card-footer">
    <div class="flex">
      <small class="text-muted"><p class="card-text">Duração: 40h</p></small>
      <div class="flex-auto"></div>
      <small><p class="card-text text-success">INSCREVER-SE</p></small>
    </div>
  </div>
</div>