# -e ../django-adminlte3
black
debugpy
django-debug-toolbar==4.0.0
django-extensions==3.2.1
djlint==1.25.0
flake8
ipdb>=0.13.9
ipython==8.13.0
lxml
mypy
pdoc3
pytest
pytest-cov
pytest-profiling
ruff
types-requests
Werkzeug==2.3.2