/* ===== RESET: BEGIN ===== */

* {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif;

    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;

}

body {
    min-height: 100%;
    background: #f2f3f5 !important;
    color: #565656;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}


/* ===== RESET: END ===== */