<div class="tab-pane fade show active" id="nav-{{list_name}}" aria-labelledby="nav-{{list_name}}-tab" role="tabpanel">
    <div id="course-views">
        <div class="course-list">
            <div v-for="card in {{list_name}}" class="course-listitem">
                <div class="course-wrapper">
                    <div class="card-body">
                        <p class="card-diario">[[ card.shortname ]]</p>
                        <h5 class="card-title">
                            <a v-bind:href="[[ card.viewurl ]]">[[ card.fullname ]]</a>
                        </h5>
                    </div>
                    <div class="progress bg-dark rounded-0">
                        <div class="progress-bar" :style="{ background: card.ambiente.cor }"></div>
                        <div class="porcentagem" v-if="card.showcompletionconditions">
                            <p class="valor_porcentagem">[[ card.progress ]]%</p>
                        </div>
                        <div class="porcentagem-detalhe">
                            <span type="button" class="detalhe-link">
                                <i class="fa fa-star" v-if="card.isfavourite"></i>
                                <i class="fa fa-star-o" v-if="!card.isfavourite"></i>
                            </span>
                        </div>
                        {% comment %}
                        <div class="porcentagem-detalhe">
                            <span type="button" class="detalhe-link">
                                <i class="fa fa-eye" v-if="card.hidden"></i>
                                <i class="fa fa-eye-slash" v-if="!card.hidden"></i>
                            </span>   
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>