<div class="tab-pane fade {{extra_class}}" id="nav-{{list_name}}" aria-labelledby="nav-{{list_name}}-tab" role="tabpanel">
    <div id="course-views">
        <div class="course-list">
            <div v-for="card in {{list_name}}" class="course-listitem">
                <div class="course-wrapper">
                    <div class="card-body">
                        <div>
                            <p class="card-diario">
                                <span v-if='card.turma'>
                                    <span class='card-turma'>[[ card.turma ]]</span>
                                    <span class='card-componente'>[[ card.componente ]]</span>
                                </span>
                                <span v-if='!card.turma'>[[ card.shortname ]]</span>
                            </p>
                            <p class="card-curso" v-if='card.curso'>
                                [[ card.curso.nome ]]</span>
                            </p>
                            <h5 class="card-title">
                                <a v-bind:href="[[ card.viewurl ]]">[[ card.fullname ]]</a>
                            </h5>
                        </div>
                    </div>
                    <div class="progress bg-dark rounded-0">
                        <div class="progress-bar" :style="{ background: card.ambiente.cor }"></div>
                        <div class="porcentagem-detalhe" v-on:click="favourite(card)">
                            <span type="button" class="detalhe-link">
                                <i class="fa fa-star-o" v-if="!card.isfavourite"></i>
                                <i class="fa fa-star" v-if="card.isfavourite"></i>
                            </span>
                        </div>
                         <div class="eyes-hidden-unhidden" v-on:click="hidden(card)">
                            <span type="button" class="detalhe-link" id="">
                                <i class="fa fa-eye" v-if="card.hidden"></i>
                                <i class="fa fa-eye-slash" v-if="!card.hidden"></i>
                            </span>                            
                        </div> 
                        <div class="porcentagem" v-if="card.showcompletionconditions">
                            <p class="valor_porcentagem">[[ card.progress ]]%</p>
                        </div>

                        <div class="sandwich" v-on:click="sandwichToggler(card)">
                            <p class="valor_sandwich" >&#9776</p>
                            <!-- <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">&#9776</button>
                                <ul class="dropdown-menu">
                                  <li><span class="fecharSandwich"><i class="fa fa-times-circle"></i><hr></span></li>
                                  <li><span class="ocultarSandwich"><i class="fa fa-eye-slash" v-if="!card.hidden"></i> Ocultar</span></li>
                                  <li><span class="favoritarSandwich"><i class="fa fa-star" v-if="card.isfavourite"></i> Favoritar</span></li>
                                </ul>
                              </div> -->
                            <div id="sandwich-content" class="sandwich-content">

                                <span class="fecharSandwich">
                                    <i class="fa fa-times-circle"></i>
                                    <hr>
                                </span>
                                <span class="ocultarSandwich">
                                    <i class="fa fa-eye" v-if="card.hidden"></i>
                                    <i class="fa fa-eye-slash" v-if="!card.hidden"></i> Ocultar
                                </span>
                                <span class="favoritarSandwich">
                                    <i class="fa fa-star-o" v-if="!card.isfavourite"></i>
                                    <i class="fa fa-star" v-if="card.isfavourite"></i> Favoritar
                                </span>
                            </div>
                        </div>
                        <div class="porcentagem_mobile" v-if="card.showcompletionconditions">
                            <p class="valor_porcentagem_mobile">[[ card.progress ]]%</p>
                        </div>
                        <div class="progress progress-details" v-if="card.showcompletionconditions">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" :style="{ width:  card.progress + '%' }">
                                <span>.</span>
                        </div>

                        <!-- <div class="more-details" id="mais-detalhes-card" :class="{hide_this: isActive([[card.id]]) }">
                            <p class="" v-on:click="addActiveClass([[card.id]])"><i class="fa fa-plus" aria-hidden="true"></i> <u >Mais detalhes</u></p>
                        </div>

                        <div class="less-hr d-none" id="menos-detalhes-hr">
                            <hr class="hr-style">
                            
                        </div>

                        <div class="less-details d-none" id="menos-detalhes-card">
                            <p class=""><i class="fa fa-minus" aria-hidden="true"></i> <u>Menos detalhes</u></p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

