<footer>
    <p><a href="https://ead.ifrn.edu.br/ajuda/category/ambiente_virtual/" target="blank" class="btn btn-primary"><i class="icon fa fa-life-ring fa-fw iconhelp icon-pre" aria-hidden="true"></i>Central de ajuda</a></p>
    <p>&nbsp;</p>
    <p>Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte</p>
    <p> &copy; 2022. Todos os direitos reservados.</p>
    <p>Campus Natal-Zona Leste</p>
    <p><strong>Endereço</strong> – Av. Sen. Salgado Filho, 1559 – Tirol, Natal – RN, CEP: 59015-000</p>
    <div class="contact">
        <ul>
            <li><a href="https://ead.ifrn.edu.br" target="_blank" class="website btn btn-link"><i class="fa fa-globe"></i></a></li>
            <li><a href="tel:+55 (84) 3092-8900" target="_blank" class="mobile btn btn-link"><i class="fa fa-phone"></i></a></li>
            <li><a href="mailto:cte.ead@ifrn.edu.br" target="_blank" class="mail btn btn-link"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://www.facebook.com/ifrnzonaleste" target="_blank" class="facebook btn btn-link btn-rounded"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/IFRNCampusEaD" target="_blank" class="twitter btn btn-link btn-rounded"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/school/ifrn-ead/about/" target="_blank" class="linkedin btn btn-link btn-rounded"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.youtube.com/c/ifrncampusead" target="_blank" class="youtube btn btn-link btn-rounded"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/ifrnzonaleste/" target="_blank" class="instagram btn btn-link btn-rounded"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=+55 (84) 3092-8900" target="_blank" class="whatsapp btn btn-link btn-rounded"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="+55 (84) 3092-8900" target="_blank" class="telegram btn btn-link btn-rounded"><i class="fa fa-telegram"></i></a></li>
        </ul>
    </div>

    <p>&nbsp;</p>
    <div class="copyright">
        <div class="madeby" style="text-align: center;">
            <p>A versão {{portal_version}} <a href='https://github.com/cte-zl-ifrn/portal__ava'>deste painel</a> foi desenvolvido como software open source pela <a href="https://github.com/cte-ead">ASTE/DEAD/ZL/IFRN</a>.</p>
            {% comment %}
            <a href="https://github.com/cte-ead">
                <img src="/static/dashboard/img/ifrnLogo.svg" alt="ASTE/DEAD/ZL/IFRN" height="80">
                <p style="font-size: 75%;">ASTE/DEAD/ZL/IFRN</p>
            </a>
            {% endcomment %}
        </div>
    </div>

</footer>
