<footer>
    <p><a href="https://ead.ifrn.edu.br/ajuda/category/ambiente_virtual/" target="blank" class="btn btn-outline-info"><i class="icon fa fa-life-ring fa-fw iconhelp icon-pre" aria-hidden="true"></i>Central de ajuda</a></p>
    <p>Instituto Federal de Educação, ciência e Tecnologia do Rio Grande do Norte &copy; 2022. Todos os direitos reservados.</p>
    <p>Campus Natal-Zona Leste</p>
    <p><strong>Endereço</strong> – Av. Sen. Salgado Filho, 1559 – Tirol, Natal – RN, CEP: 59015-000</p>
    <p>
        Telefones: <a href='tel:558430928900'>+55 (84) 3092-8900</a>
        | <a href='tel:558430928902'>+55 (84) 3092-8902</a>
        , ou consulte nossa <a href="https://ead.ifrn.edu.br/portal/institucional/telefones/">lista telefônica</a>.
    </p> 
</footer>
