<div class="header">
    <div class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="{% url "portal:dashboard" %}"></a>
        </div>
        <ul class="menu-principal nav navbar-nav navbar-center">
            <li><a class="page-scroll area_aluno" href="{% url 'portal:dashboard' %}">ÁREA DO ALUNO</a></li>
            <li><a class="page-scroll barra">|</a></li>
            <li><a class="page-scroll" href="https://ead.ifrn.edu.br/portal/">PORTAL EAD</a></li>
            <li><a class="page-scroll" href="https://portal.ifrn.edu.br/">PORTAL IFRN</a></li>
            <li><a class="page-scroll" href="https://suap.ifrn.edu.br/">SUAP</a></li>
            <li><a class="page-scroll" href="{% url 'a4:logout' %}">SAIR</a></li>
        </ul>
        <div class="user">
            <a class="page-scroll ph-name" href="https://suap.ifrn.edu.br/comum/minha_conta/">
                <ul class="nav navbar-nav navbar-right">
                    <li>{{ user.nome }}</li>
                    <li><i class="fa fa-user-circle"></i></li>
                </ul>
            </a>
        </div>
    </div>
</div>
