{% if popup %}
  <!-- Modal: Begin -->
  <div class="modal fade" id="modal{{popup.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{popup.titulo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          {{popup.mensagem|safe}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-bs-dismiss="modal">Lembre-me depois</button>
          <a href="javascript:closeModalForever()" class="btn btn-success">Acessar agora</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    const popupModalName = "modal{{popup.id}}";
    $(function() {
      lastOccurrence = new Date(localStorage.getItem(popupModalName));
      if (isNaN(lastOccurrence)) {
        return;
      }
      // Se passaram 12h
      if (((new Date()) - lastOccurrence) / (1000 * 3600 * 12) > 1) {
        (new bootstrap.Modal(document.getElementById(popupModalName))).toggle();
      }
      $("#" + popupModalName).on("hidden.bs.modal", function () {
        localStorage.setItem(popupModalName, new Date().toISOString());
        console.log("closeModalUntilTomorrow");       
      });
    });

    function closeModalForever(e) {
      localStorage.setItem(popupModalName, 'true');
      window.location = "{{popup.url}}";
    }
  </script>
  <!-- Modal: End -->
{% endif %}