{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify painel %}
{% block after_related_objects %}
    {% if not change %}
        <div class="js-inline-admin-formset inline-group"
             id="vinculocurso_set-group"
             data-inline-type="tabular">
            <div class="tabular inline-related last-related">
                <h2>Exemplo de como as coortes serão enviadas</h2>
                <dl>
                    {% for coorte in original.coortes %}
                        <dt>
                            {{ coorte.nome }} {% boolean_icon coorte.ativo %}
                            <dd>
                                <ul>
                                    {% for colaborador in coorte.colaboradores %}
                                        <li>
                                            {{ colaborador.username }} - {{ colaborador.nome_completo }} [{{ colaborador.email }}]  {% boolean_icon colaborador.ativo %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dt>
                    {% endfor %}
                </dl>
            </div>
        </div>
    {% endif %}
{% endblock after_related_objects %}
