{% load static %}
<div id="course-list">
     <div id="course-toolbar">
            <div>
                <label title="Informações">
                    <i class="icon icon-info-circle"></i>
                </label>
                <input type="radio"
                        class="btn-check view-toggler"
                        name="view-toggler"
                        id="toggler-default"
                        autocomplete="off"
                        value='default'>
                <label class="btn btn-outline-primary"
                        for="toggler-default"
                        id="toggler-default-label"
                        title="Visão padrão">
                    <i class="fa fa-list"></i>
                </label>
                <input type="radio"
                        class="btn-check view-toggler"
                        name="view-toggler"
                        id="toggler-compact"
                        autocomplete="off"
                        value='compact'>
                <label class="btn btn-outline-primary"
                        for="toggler-compact"
                        id="toggler-compact-label"
                        title="Visão compacta">
                    <i class="fa fa-compress"></i>
                </label>
            </div>
    </div>
    <div class="tab-content courses">
        {% include "painel/dashboard/partials/main_content-course_lists.html" with list_name="diarios" extra_class="show active" list_alias="diários" list_genero="o" %}
        {% include "painel/dashboard/partials/main_content-course_lists.html" with list_name="coordenacoes" list_alias="salas das coordenações" list_genero="a" %}
        {% include "painel/dashboard/partials/main_content-course_lists.html" with list_name="praticas" list_alias="práticas" list_genero="a" %}
        {% include "painel/dashboard/partials/main_content-course_lists.html" with list_name="reutilizaveis" list_alias="reutilizáveis" list_genero="a" %}
    </div>
</div>
<div id="search-error" v-if="has_error">
    <h3>Ocorreu um erro.</h3>
    <p>Favor aguardar ao menos 5 minutos antes de atualizar a página.</p>
</div>

{% block search_loader %}
    <div id="search-loader" v-if="is_filtering">
        <p>Procurando seus cursos</p>
        {% include "painel/layouts/partials/mosaic-loader.html" %}
    </div>
{% endblock search_loader %}