{% load static %}
<div id="search-list">
    <nav class="tab-menu">
        <div class="nav nav-tabs" role="tablist">
            <button class="nav-link active"
                    id="nav-diarios-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-diarios"
                    type="button"
                    role="tab"
                    aria-controls="nav-diarios"
                    aria-selected="true"
                    @click="toggleBar('diarios')">Diários</button>
            <button class="nav-link"
                    id="nav-coordenacoes-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-coordenacoes"
                    type="button"
                    role="tab"
                    aria-controls="nav-coordenacoes"
                    aria-selected="false"
                    @click="toggleBar('coordenacoes')">Coordenações</button>
            <button class="nav-link"
                    id="nav-praticas-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-praticas"
                    type="button"
                    role="tab"
                    aria-controls="nav-praticas"
                    aria-selected="false"
                    v-if="praticas.length!=0"
                    @click="toggleBar('praticas')">Práticas</button>
            <button class="nav-link"
                    id="nav-reutilizaveis-tab"
                    data-bs-reutilizaveis="tab"
                    data-bs-target="#nav-reutilizaveis"
                    type="button"
                    role="tab"
                    aria-controls="nav-reutilizaveis"
                    aria-selected="false"
                    v-if="reutilizaveis.length!=0"
                    @click="toggleBar('reutilizaveis')">Reutilizáveis</button>
            <div class="btn-group course-list-toggler" role="group">
                <input type="radio"
                        class="btn-check view-toggler"
                        name="view-toggler"
                        id="toggler-default"
                        autocomplete="off"
                        value='default'>
                <label class="btn btn-outline-primary"
                        for="toggler-default"
                        id="toggler-default-label"
                        title='Visão padrão'>
                    <i class="fa fa-list"></i>
                </label>
                <input type="radio"
                        class="btn-check view-toggler"
                        name="view-toggler"
                        id="toggler-compact"
                        autocomplete="off"
                        value='compact'>
                <label class="btn btn-outline-primary"
                        for="toggler-compact"
                        id="toggler-compact-label"
                        title='Visão compacta'>
                    <i class="fa fa-compress"></i>
                </label>
            </div>
        </div>
    </nav>
    <div class="tab-content courses">
        {% include "painel/dashboard/partials/course-lists.html" with list_name="diarios" extra_class="show active" list_alias="diários" list_genero="o" %}
        {% include "painel/dashboard/partials/course-lists.html" with list_name="coordenacoes" list_alias="salas das coordenações" list_genero="a" %}
        {% include "painel/dashboard/partials/course-lists.html" with list_name="praticas" list_alias="práticas" list_genero="a" %}
        {% include "painel/dashboard/partials/course-lists.html" with list_name="reutilizaveis" list_alias="reutilizáveis" list_genero="a" %}
    </div>
</div>
<div id="search-error" v-if="has_error">
    <h3>Ocorreu um erro.</h3>
    <p>Favor aguardar ao menos 5 minutos antes de atualizar a página.</p>
</div>
{% block search_loader %}
    <div id="search-loader" v-if="is_filtering">
        <p>Procurando seus cursos</p>
        {% include 'painel/layouts/partials/mosaic-loader.html' %}
    </div>
{% endblock search_loader %}
