{% load static %}


<div id="grid-filter-wrapper">
   
    <div id="grid-filter">
            <div class="grid-item item-1 position-relative content-center hide-close">
                <b id="filters-title">Filtrar por </b>
            </div>
            <hr class="hr-personal hide-mobile" />
            <div class="grid-item item-2 position-relative filfixedter-field" id="input-filter">
                <input
                    placeholder="Busque #id, código ou nome"
                    name="q"
                    id="q"
                    v-model="q"
                    @keydown.enter="filterCards($event)"
                />
                 <!-- <i class="fa fa-search icon-filter-color icon-fild-position"></i>  -->
            </div>
            <div class="grid-item position-relative filter-field display-content">
                <select
                    name="situacao"
                    id="situacao"
                    placeholder="teste"
                    v-model="situacao"
                    style="width: 100%; margin-left: 0px"
                >
                    <option v-for="row in situacoes" v-bind:value="row.id">[[ row.label ]]</option>
                </select>
                {% comment %} <i class="fa fa-book icon-filter-color icon-fild-position"></i> {% endcomment %}
            </div>
             <!-- <div class="grid-item">
                <select name="ordenacao" id="ordenacao" @change="filterCards($event)" v-model="ordenacao">
                    <option v-for="row in ordenacoes" v-bind:value="row.id">[[ row.label ]]</option>
                </select>
            </div>  -->
            <div class="grid-item position-relative filter-field" v-show="selectedBar == 'diarios' || selectedBar == null">
                <select name="semestre" id="semestre" v-model="semestre" required>
                    <option v-for="row in semestres" v-bind:value="row.id">[[ row.label ]]</option>
                </select>
            </div>
            <div class="grid-item position-relative filter-field" v-show="selectedBar == 'diarios' || selectedBar == null">
                <select name="disciplina" id="disciplina" v-model="disciplina" required>
                    <option v-for="row in disciplinas" v-bind:value="row.id">[[ row.label ]]</option>
                </select>
            </div>
            <div class="grid-item position-relative filter-field" v-show="selectedBar == 'diarios' || selectedBar == null">
                <select name="curso" id="curso" v-model="curso" required>
                    <option v-for="row in cursos" v-bind:value="row.id">[[ row.label ]]</option>
                </select>
            </div>
            <div class="grid-item position-relative filter-field">
                <select name="ambiente" id="ambiente" v-model="ambiente" required>
                    <option v-for="row in ambientes" :data-color="row.color" v-bind:value="row.id">[[ row.label ]]</option>
                </select>
            </div>

            <div id="buttonsFilters">
                <button type="button" id="btnClearFilter" class="btn btn-outline-success" v-on:click="clearFilter()" >
                    <i v-if="screenWidth > 335"class="fa fa-trash" aria-hidden="true"></i> Limpar filtros
                </button>
                <button type="button" class="btn btn-success" v-on:click="filterCards($event)" @click="closePopup">Filtrar</button>
            </div>
    </div>
</div> 
